# Python
__pycache__/
*.py[cod]
venv/
.env
.env.*

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.so
*.pyd

# pytest
.cache/
.pytest_cache/

# coverage
htmlcov/
.coverage*

# mypy
.mypy_cache/
.dmypy.json

# build artifacts
build/
dist/
*.egg-info/

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
